################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestTaskPlumsail/.vs/TestTaskPlumsail
/TestTaskPlumsail/obj
/TestTaskPlumsail/.vs/ProjectEvaluation
/TestTaskPlumsail/bin/Debug/net6.0
/TestTaskPlumsail.Test/bin/Debug/net6.0
/TestTaskPlumsail.Test/obj
